@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Train your brain!</h1>
    <p>. . .</p>

    <button class="btn btn-warning">
        <a asp-controller="MathGame" asp-action="Game">Try a challenge</a>
    </button>
</div>
