@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="text-center">
    <a asp-controller="MathGame" asp-action="TestGame">
        <h1 id="train_button" class="display-4">Train your brain!</h1>
    </a>
    <p>. . .</p>
</div>
